# Virtual Environments
venv/
env/
.venv/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / build
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# Data files
*.csv
*.sqlite
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor settings
.vscode/
.idea/
*.sw?
*.swo

# OS files
.DS_Store
Thumbs.db
